@charset "UTF-8"; 

@import url(reset.css);
@import url(font.css);

body {font-family: 'Pretendard';}

.container {max-width: 1620px; margin: 0 auto;}

header {height: 178px;}



header .topset {display: flex; justify-content: space-between;}
.topset .langbox {display: flex; align-items: center; gap: 13px; color: #808008; margin-left: 6.5vw;}
.topset .langbox a {padding: 10px 0; font-size: 14px; color: #808080;}
.topset .langbox a.on {color: #05456e; font-weight: 600;}


header h1 {margin-top: 20px;}
header h1 a {}
header h1 a img {}

header .baro {display: flex; gap: 25px; align-items: center; margin-right: 6.5vw;}
header .baro a {padding: 10px 0; font-size: 14px; color: #808080;}

header nav {}

header nav .gnb {display: flex; justify-content: space-between;}
header nav .gnb > li /* gnb의 자식 li만 적용되게 > 꺽쇠표시 */ {font-size: 20px;  flex-grow: 1; transition: .2s; position: relative; }
header nav .gnb > li > a {color: #05456e;  padding: 25px 40px; display: flex; justify-content: center;}

header nav .gnb > li:hover {font-size: 24px; font-weight: bold;}
header nav .gnb > li:hover .lnb {opacity: 1; visibility: visible;} /* 숨겼던거 나타나라 */

header nav .gnb .lnb {position: absolute; background: #fff; padding: 49px 36px; display: flex; left: 0; top: 90%; box-shadow: 4px 6px 60px rgba(0, 0, 0, 0.1); width: 130%; opacity: 0; transition: 0.3s; visibility: hidden; z-index: 3;} /* lnb는 무조건 absolute */ /* box-shadow 박스에 그림자주기 */ /* visibility: hidden; 숨기기 */
header nav .gnb .lnb figure {padding-right: 38px; display: flex; align-items: center; border-right: 1px solid #e5e5e5;}
header nav .gnb .lnb figure img {}

header nav .gnb .lnb ul {display: flex; flex-wrap: wrap; gap: 17px 0; padding: 5px 0 5px 38px;} /* flex-wrap: wrap; <-- 100%넘어가면 줄바꿈 */
header nav .gnb .lnb ul li {font-size: 18px; width: 50%; box-sizing: border-box; text-align: center; /* white-space: nowrap; */} /* 두개씩 정렬하기위해 width 50% 적용 */  
/* white-space: nowrap 글자를 절대 줄 바꾸지 말고 한 줄로 쭉 써라 */
header nav .gnb .lnb ul li a {padding: 5px 0; display: block;}

header nav .gnb li:last-child .lnb {right: 0; left: auto;}

header nav .gnb .lnb li:hover {background: #183d54; border-radius: 5px;}
header nav .gnb .lnb li:hover a {color: #fff;}




.hero {height: 650px; background: #eee; position: relative; overflow: hidden;} /* 넘치는 부분은 숨겨라 */
.hero ul {width: 300%; height: 100%; display: flex; transition: .5s;}
.hero ul li {width: 100%; height: 100%; overflow: hidden;}
.hero ul li:nth-child(2) {background: green;}
.hero ul li:nth-child(3) {background: blue;}
.hero ul li img {width: 100%; height: 100%; object-fit: cover; animation: heroImg 10s forwards;} 
/* 이미지를 담고 있는 박스를 “가득 채우되” 비율은 유지하고, 넘치는 부분은 잘라낸다 */
/* heroImg라는 애니메이션을 10초 동안 실행하고 끝나면 마지막 상태를 유지해라 = (아래 scale(1) 상태) */

@keyframes heroImg {
    0% {transform: scale(1.1);}
    100% {transform: scale(1);}
} /* 이미지가 살짝 확대된 상태로 시작해서 10초 동안 천천히 축소되어 원래 크기로 돌아옴 */


.hero .arrow_box {position: absolute; width: 100%; top: 50%; z-index: 2;}
.hero .arrow_box div {position: absolute; width: 100px; height: 100px; transform: translate(0, -50%); /* 자기 자신의 높이의 50%만큼 위로 이동한다 */ cursor: pointer; display: flex; justify-content: center; align-items: center; color: #fff; }
.hero div .material-symbols-outlined {font-size: 50px; font-weight: 200;}
.hero .arrow_box div.btn_prev {left: 100px;}
.hero .arrow_box div.btn_prev .material-symbols-outlined {position: absolute; left: 0px;}
.hero .arrow_box div.btn_next {right: 100px;}

.hero .textbox {position: absolute; left: 50%; top: 50%; transform: translate(-130%, -50%); width: 600px;}
/* “히어로 영역의 정중앙을 기준점으로 잡고, 텍스트 박스를 왼쪽에 세로 중앙으로 배치한다.” */

.hero .textbox strong {font-size: 40px;color: #fff; font-weight: 700; line-height: 1.4; animation: heroText 3s forwards; display: block; position: relative; opacity: 0;} /* heroText라는 애니메이션을 3초 동안 실행하고,
실행이 끝난 뒤에는 ‘마지막 상태’를 그대로 유지해라 */

.hero .textbox p {font-size: 18px; color: #fff; line-height: 1.6; margin-top: 30px; animation: heroText 3s forwards; position: relative; animation-delay: 0.3s; left: 200px; opacity: 0;}

.hero .textbox .btn {font-size: 20px; color: #fff; padding: 10px 26px; background: #f0620a; display: inline-block; margin-top: 40px; animation: heroText 3s forwards; position: relative; animation-delay: 0.6s; left: 200px; opacity: 0;}

@keyframes heroText { /*  */
    0% {left: 200px; opacity: 0;} 
    100% {left: 0; opacity: 1;}
} /* 시작(0%)은 부모 기준으로 왼쪽에서 200px 떨어진 위치에 있고,
보이지 않는 상태(opacity: 0)에서 시작한다.
끝(100%)은 왼쪽에서 0px 위치로 이동하면서, 완전히 보이는 상태(opacity: 1)가 된다. */

.section_box {}
.section1 {}
.section1 .container {width: 1320px; margin: 0 auto; display: flex; gap: 50px; justify-content: space-between; margin-top: 150px;}
.section1 .container .recent_board {flex-grow: 1; width: 30%;}

.section1 .container .recent_board h2 {font-size: 32px; margin-bottom: 30px; display: flex; justify-content: space-between;}
.section1 .container .recent_board h2 a {width: 36px; position: relative;}

.section1 .container .recent_board h2 a::before,
.section1 .container .recent_board h2 a::after {content: ""; position: absolute; width: 30px; height: 1px; background: #000; left: 50%; top: 50%; transform: translate(-50%,-50%); transition: 0.2s;}
/* 내용이 없는 가상 요소를 생성하고, 부모 요소를 기준으로 절대 위치를 잡는다.
왼쪽 50%, 위쪽 50% 위치에 배치한 뒤, 자기 자신의 크기 기준으로 
가로·세로 각각 50%만큼 이동시켜 정확히 중앙에 정렬한다.
이 요소의 속성 값이 변경될 경우, 0.2초 동안 부드럽게 전환되도록 설정한다. */

.section1 .container .recent_board h2 a::after {transform:translate(-50%,-50%) rotate(90deg);}
/* 가상 요소(::after)를 자기 자신의 크기 기준으로 가로·세로 각각 50%만큼 
이동시킨 후, 시계 방향으로 90도 회전시켜라 +아이콘 x로 전환 시킬때 주료 사용  */

.section1 .container .recent_board h2 a:hover::before {transform:translate(-50%,-50%) rotate(180deg);}
.section1 .container .recent_board h2 a:hover::after {transform:translate(-50%,-50%) rotate(270deg);}


.section1 .container .recent_board ul {}
.section1 .container .recent_board ul li {font-size: 20px; line-height: 40px; border-bottom: 1px solid #eee; margin-bottom: 15px;}
.section1 .container .recent_board ul li a {display: flex; justify-content: space-between; gap: 30px;}
.section1 .container .recent_board ul li a .title {flex-grow: 1; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;} /* title 부분이 남는 공간을 최대한 사용해라, 넘치는 내용은 ... 으로 표시해라 줄바꿈 하지마라 */
.section1 .container .recent_board ul li a .date {}

.section2 {}
.section2 .container {margin-top: 150px;}
.section2 .container h2 {text-align: center;}
.section2 .container h2 strong {font-size: 32px; display: block; margin-bottom: 20px;}
.section2 .container h2 span {font-size: 24px; color: #898989; display: block;}

.section2 .container .content {margin-top: 60px; display: flex; justify-content: space-between; gap: 50px; flex-wrap: wrap;} /* fxww 단축키 */
.section2 .container .content li {flex-grow: 1; width: 30%; background: #000; height: 450px; position: relative; overflow: hidden;}
.section2 .container .content li a img {width: 100%; height: 100%; object-fit: cover; transition: 1s;}
.section2 .container .content li:hover a img {transform: scale(1.1);}
                                        /* 호버시 이미지 1.1배로 커져라 */

.section2 .container .content li a .textbox { position: absolute; width: 100%; height: 100%; left: 0; top: 0; display: flex; justify-content: center; align-items: center; flex-direction: column; text-align: center;}
/* 부모 요소를 기준으로 절대 위치를 잡고, 부모의 전체 영역(가로 100%, 세로 100%)을 덮는다. 왼쪽 0, 위쪽 0 위치에 배치한다. flex를 사용하여 자식 요소들을 가로 방향 기준으로 세로(column)로 배치하고, 가로·세로 모두 중앙에 정렬한다.
텍스트는 가운데 정렬한다. */
.section2 .container .content li a .textbox strong {font-size: 24px; color: #fff; opacity: 0; margin-top: 50px; transition: .3s; margin-bottom: 20px;}
.section2 .container .content li a .textbox p {font-size: 18px; color: #fff; opacity: 0; transition: .3s;}

.section2 .container .content li a .textbox:hover strong {margin-top: 0; opacity: 1;}
.section2 .container .content li a .textbox:hover p {opacity: 1;}


.section3 .container {margin-top: 150px;}
.section3 .container h2 {font-size: 32px; margin-bottom: 60px; text-align: center;}
.section3 .container .content {display: flex; gap: 50px;}
.section3 .container .content li {width: 855px; height: 441px; position: relative; overflow: hidden;}
.section3 .container .content li img {width: 100%; height: 100%; object-fit: cover; transition: 1s;}
.section3 .container .content li:hover img {transform: scale(1.1);}

.section3 .container .content li a .textbox {position: absolute; width: 100%; height: 100%; color: #fff; font-size: 24px; display: flex; justify-content: center; align-items: center; left: 0; top: 0; background: rgba(0, 0, 0, 0.1);}

.section3 .container .content li iframe {width: 100%; height: 100%; object-fit: cover;} 
/* 이미지를 담고 있는 박스를 “가득 채우되” 비율은 유지하고, 넘치는 부분은 잘라낸다 */


.section4 {background: #064570;}
.section4 .container {margin-top: 150px; padding: 150px 0;}
.section4 .container h2 {font-size: 32px; margin-bottom: 60px; text-align: center; color: #fff;}

.section4 .container .content {display: grid; grid-template-columns: repeat(4, 1fr); grid-template-rows: repeat(3, 270px); gap: 50px;} /* 4칸(columns) × 3줄(rows)의 카드 그리드를 만들고, 각 카드는 같은 너비, 높이는 270px,
카드 사이 간격은 50px로 배치 */
.section4 .container .content li {background: #fff;}
.section4 .container .content li a {height: 100%; border: 1px solid red; padding: 30px 20px; box-sizing: border-box; display: flex; flex-direction: column;/* flex 안에 있는 요소들을 “위에서 아래로(세로로)” 쌓아라 */ justify-content: space-between; align-items: center; text-align: center; gap: 50px;}

.section4 .container .content li a h3 {font-size: 20px; margin-bottom: 20px;}
.section4 .container .content li a p {font-size: 18px;}

.section4 .content li:nth-child(1) {grid-row: span 2;} 
/* 해당 요소가 세로 방향으로 2개의 Grid 행을 차지하도록 설정한다. */
.section4 .content li:nth-child(5) {grid-column: span 2;}
/* 해당 요소가 가로 방향으로 2개의 Grid 열을 차지하도록 설정한다. */
.section4 .content li:nth-child(9) {grid-column: span 2;}
/* 해당 요소가 가로 방향으로 2개의 Grid 열을 차지하도록 설정한다. */

.section4 .content li:nth-child(1) a {padding: 100px 20px;}
.section4 .content li:nth-child(5) a {flex-direction: row;}
/* 5번 카드 안 내용은 세로 말고 가로로 줄 세워! */
.section4 .content li:nth-child(9) a {flex-direction: row;}
/* 9번 카드 안 내용은 세로 말고 가로로 줄 세워! */
footer {height: 225px; background: #d9d9d9;}
