@charset "UTF-8"; 

@import url(reset.css);
@import url(font.css);

body {font-family: 'Pretendard';}

.container {width: 1620px;margin: 0 auto; border: 1px solid #000;}

header {height: 178px;}



header .topset {display: flex; justify-content: space-between;}
.topset .langbox {display: flex; align-items: center; border: 1px solid #000; gap: 13px; color: #808008;}
.topset .langbox a {padding: 10px 0; font-size: 14px; color: #808080;}
.topset .langbox a.on {color: #05456e; font-weight: 600;}


header h1 {margin-top: 20px;}
header h1 a {}
header h1 a img {}

header .baro {display: flex; gap: 25px; align-items: center;}
header .baro a {padding: 10px 0; font-size: 14px; color: #808080;}



.hero {height: 650px; background: #eee;}

.section_box {}

footer {height: 225px; background: #d9d9d9;}
